GOOGLE_CLIENT_ID=1234567890-example.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
GOOGLE_REDIRECT_URI=https://kisa.davutcaliskan.de/oauth/google/callback
APP_REDIRECT_URIS=kisa://oauth/google/callback,http://127.0.0.1:42813/oauth/google/callback
